.wiki.widget,
.wiki.view {
    position: relative;
}
.wiki.widget {
    height: 48%;
    width: 58%;
}
.wiki.widget footer {
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    color: #eee;
    left: 0;
    padding: 1em;
    position: absolute;
    width: 100%;
}
.wiki .city {
    font-size: 3em;
}
.wiki .description {
    font-size: 1.5em;
}