.wiki.widget,
.wiki.view {
    position: relative;
}
.wiki.view .description {
    padding: 1em;
}
.wiki .description {
    font-size: 1.5em;
    overflow: scroll;
}
.wiki.widget {
    height: 48%;
}
.wiki.widget .content
{
    padding:1em;
}
.wiki .city {
    font-size: 3em;
}
.wiki.widget .description {
    height: 100%;
}
