.icons .entertainment.widget .highlights .previous,
.icons .entertainment.widget .highlights .next {
    display: none;
}

/* Detail */
.entertainment .detail {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 1em;
    position: relative;
    width: 100%;
}
.entertainment .detail .name {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 2em;
}
.entertainment .detail .rating-box {
    right: 3em;
    position: absolute;
    top: 3em;
}
.entertainment .detail .info {
    font-size: 1.5em;
}
.entertainment .detail .photo {
    width: 100%;
}
/* Both */
.entertainment .price,
.entertainment .rating {
    font-size: 2em;
    text-align: center;
}
.entertainment .star.filled {
    color: #ffb800;
}
/* Highlights */
.entertainment .highlights {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width: 100%;
}
.entertainment.view .highlights {
    flex-flow: row;
    flex-wrap: no-wrap;
}

.entertainment .highlight {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    height: 150px;
    overflow: hidden;
    padding: 1em;
    position: relative;
    justify-content: space-around;
}
.entertainment .highlight * {
    z-index: 1;
}
.entertainment .highlight .name {
    flex-basis: 100%;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.entertainment .highlight .info {
    flex-basis: 50%;
}
.entertainment .highlight .photo {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}
.entertainment .attributions,
.entertainment .detail .icon,
.entertainment .highlight .address,
.entertainment .highlight .phone,
.entertainment .highlight .website,
.entertainment .photoAttributions,
.entertainment .reference {
    display: none;
}