.maps.view {
    position: relative;
}
.maps.widget {
    display: flex;
    height: 48%;
}
.maps.widget .static {
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 100% auto;
    left: -5%;
    position: absolute;
    height: 100%;
    width: 110%;
}
.maps .frame,
.maps iframe {
    border: none;
    height: 100%;
    width: 100%;
}

.maps .layers {
    font-size: 2em;
    position: absolute;
    right: 0;
    top: 0;
}
.maps .layers button {
    height: 100px;
    width: 100px;
}