* {
    box-sizing: border-box;
    font-size: 1em;
}
html, 
body {
    background: #aaa;
    color: #222;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}


/*******************************************************************************
            Header 
*******************************************************************************/
body > header {
    background: #444;
    display: flex;
    flex-flow: row wrap;
    height: 5%;
    width: 100%;
}
body > header * {
    font-size: 1.5em;
}

/*******************************************************************************
            Main Fullscreen 
*******************************************************************************/
main.fullscreen {
    display: flex;
    height: 95%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
main.view {
    height: 100%;
    width: 100%;
}

main aside {
    height: 100%;
    overflow: auto;
}
main aside::-webkit-scrollbar {
    display: none;
}
main aside.left {
    border: thin solid #222;
    display: none;
    flex: 0 0 40%;
}
main aside.middle {
    flex: 1 1 20%;
}
main aside.middle.icons figure {
    width: 100%;
}
main aside.right {
    border: thin solid #222;
    display: none;
    flex: 0 0 40%;
}

/*******************************************************************************
            Widgets 
*******************************************************************************/
#widgets {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
}

#widgets figure {
    box-shadow: 2px 2px #222;
    margin: 1em;
    overflow: hidden;
}