* {
    box-sizing: border-box;
    font-size: 1em;
}
body {
    background: #aaa;
    color: #222;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}


/*******************************************************************************
            Header 
*******************************************************************************/
body > header {
    background: #444;
    height: 5%;
    width: 100%;
}

/*******************************************************************************
            Main Fullscreen 
*******************************************************************************/
main.fullscreen {
    height: 95%;
    position: absolute;
    width: 100%;
}

main.view {
    height: 100%;
    width: 100%;
}

/*******************************************************************************
            Widgets 
*******************************************************************************/
#widgets {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

#widgets figure {
    border: thin solid black;
    display: inline-block;
    height: 25%;
    width: 25%;
}