.widget.define-location
{
    font-size:2.5em;
    margin:0;
}
.widget.define-location .title
{
    text-align: right;
}
.widget.define-location .city
{
    color:#0CF;
    text-transform:lowercase;
    font-size:2em;
    display: inline-block;
    vertical-align: middle;
}
.widget.define-location .instructions
{
    text-align:right;
    font-size:.4em;
    font-style: italic;
}