.food {
    background-color: #eee;
    padding: 1em;
}
.food.widget {
    width: 25%;
}
.food.view .photo {
    position: relative;
    left: 0;
    top: 0;
    width: 100%    
}
.food.widget .photo,
.food.widget .photoAttributions,
.food.widget .reference {
    display: none;
}